.container {
    position: relative;
    margin-top: 50px;
    width: 1010px%;
    min-width: 900px;
    background-color: aquamarine;
    overflow: hidden;
}

.tileContainer {
    position: relative;
    display: flex;
    /* width: 100%; */
    min-width: 808px;
}

.tile {
    width: 177px;
    height: 177px;
    background-color: aqua;
    margin-right: 25px;
}

.tileImage {
    width: 177px;
    height: 177px;
}

.arrow {
    width: 20px;
    background-color:bisque;
    /* visibility: hidden; */
}

.arrowRight {
    /* position: absolute;
    top: 50px;
    right: 20px; */
    /* visibility: hidden; */
    color: rebeccapurple;
}

.arrowLeft {
    /* position: absolute;
    top: 50px;
    left: 0px;; */
    /* visibility: hidden; */
    color: rebeccapurple;
}

/* @media (max-width: 950px) {
    .tile {
        display: none;
    }

    .tile:nth-child(-n+4) {
        display: unset !important;
    }
} */


