.sbcCardContainer {
    min-width: 970px;
    overflow: hidden;
}

.carouselContainer {
}

.carouselViewPort {
}

.tileContainer {
    display: flex;
    padding: 0;
    margin: 0;
    /* transition: all 0.1s linear; */
}

.tile {
    /* min-width: 177px; */
    background-color: aqua;
    margin-right: 12px;
    margin-left: 12px;
    list-style-type: none;
}

.tileImage {
    width: 100%;
    min-height: 167px;
}

.tileText {
}

.btn {
    width: 44px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    /* position: absolute;
    bottom: 60px; */
    z-index: 20;
    background-color: #fff;
    box-shadow: 0 2px 4px #999;
    border-radius: 3px 0 0 3px;
}

.btnLeft {
}

.btnRight {
}

.arrow {
    margin-top: 44px;
}

.arrowLeft {
    transform: rotateZ(180deg);
}
